@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap');

:root {
  --primary-color: #666666;
  --secondary-color: #141414;
  --accent1-color: #F5F5F5;
  --accent2-color: #017F01;
  --accent3-color: #80FF00;

  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Bitter', serif;

  --headline-color-on-white: #141414;  /* headlines on a white background */ 
  --headline-color-on-color: #141414; /* headlines on a colored background */ 
  --paragraph-color-on-white: #141414; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f5f5f5; /* paragraph text on a colored background */ 
  --paragraph-background-color: #666666;
  --nav-link-color: #141414;
  --nav-background-color: #666666;
  --nav-hover-link-color: #f5f5f5;
  --nav-hover-background-color: #017F01;
}

/*CSS for Gallery Page*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #017F01;
    cursor: pointer;
    font-size: 18px;
    color: #F5F5F5;
  }
  
  .btn:hover {
    background-color: #80FF00;
  }
  
  .btn.active {
  background-color: #80FF00;
    color: #F5F5F5;
  }
  